org.jitsi.jicofo.BRIDGE_MUC=JvbBrewery@internal.auth.{{ jitsi_domain }}

#org.jitsi.focus.pubsub.ADDRESS={{jitsi_domain}}
#org.jitsi.jicofo.STATS_PUBSUB_NODE=sharedSstatsNode

{% if jitsi_secure_domain %}
org.jitsi.jicofo.auth.URL=XMPP:{{ jitsi_domain }}
{% endif %}
